<!--- templates/navbar.html -->
{% load static nav %}

{% url 'home'                as home_url %}
{% url 'blog:blog_post_list' as blog_url %}
{% url 'recipes:recipe_list' as recipe_url %}
{% url 'store:producer_list' as producer_url %}
{% url 'store:product_list' as product_url %}

<nav class="navbar navbar-expand-lg bg-primary background-green">
  <div class="container-fluid">

    <a class="navbar-brand text-white" href="{{ home_url }}">
      <img id="id-sheep-icon" src="{% static 'img/sheep.png' %}">
      Spring Brooke Farmhouse
    </a>

    <button class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link {% nav_active 'home' %}" href="{{ home_url }}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% nav_active 'blog:.*' %}" href="{{ blog_url }}">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% nav_active 'recipes:.*' %}" href="{{ recipe_url }}">Recipes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% nav_active 'store:product_.*' %}" href="{{ product_url }}">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% nav_active 'store:producer_.*' %}" href="{{ producer_url }}">Producers</a>
        </li>

      </ul>
    </div>
  </div>
</nav>